.menu {
    text-align: center;
    a:link {
        color: $font-light;
    }
    a:visited {
        color: $font-color;
    }
    a:hover {
        color: $font-white;
    }
    a:active {
        color: $bg-dark;
    }
    #span-menu {
        padding: 0.8rem;
        background: $bg-light;
    }
}

li {
    padding: 0 0.5rem;
    display: inline-block;
    font-size: 1rem;
    border-right: 1px solid black;
}

.last-in-line {
    border: none;
}