@media only screen and (max-width: 950px) {
    body {
        width: 96%;
        margin: auto;
    }
    #skate-color {
        left: 5%;
        z-index: 3;
    }
    #skatepool {
        top: -100px;
        left: -5%;
        z-index: 2;
    }
    #color-texture {
        width: 40%;
        top: -130px;
        left: 10%;
        z-index: 1;
    }
}