@import './resets';
@import './basic';
@import './nav';
body {
    width: 80%;
    margin: 0 auto;
    color: $font-color;
    background: $bg-light;
    font-family: 'Righteous', cursive;
}

.main {
    position: absolute;
    width: 80%;
    height: 400px;
}

p {
    @include div;
}

h1 {
    font-size: 2rem;
    text-align: center;
    @include div;
}

#skate-color {
    @include boxes($on-top: true);
    z-index: 3;
    right: 30%;
    top: 40%;
}

#skatepool {
    @include boxes;
    z-index: 2;
    top: 35%;
    left: 15%;
}

#color-texture {
    border-radius: 3%;
    z-index: 1;
    width: 100%;
}

a:link {
    color: $font-color;
}

a:visited {
    color: $font-light;
}

a:hover {
    color: $bg-light;
}

a:active {
    color: $bg-dark;
}