@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer,
header,
nav,
section,
main {
  display: block; }

body {
  line-height: 1; }

ol,
ul,
nav {
  list-style: none; }

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

/* COLORS */
/* MIXIN */
body {
  width: 80%;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  color: #111d17;
  background: #e46aad;
  font-family: 'Righteous', cursive; }

.main {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  height: auto;
  margin-bottom: 50px; }

p {
  margin: 1rem;
  padding: 1rem; }

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
  padding: 1rem; }

#skate-color {
  position: relative;
  width: 30%;
  max-width: 525px;
  border-radius: 3%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 20px #1f1e1e;
  width: 40%;
  left: 5%;
  z-index: 3; }

#skatepool {
  position: relative;
  width: 30%;
  max-width: 525px;
  border-radius: 3%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 10px #1f1e1e;
  width: 50%;
  top: -200px;
  left: -5%;
  z-index: 2; }

#color-texture {
  position: relative;
  width: 30%;
  max-width: 525px;
  border-radius: 3%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 10px #1f1e1e;
  width: 100%;
  top: -300px;
  left: 10%;
  z-index: 1; }

a:link {
  color: #243d31; }

a:visited {
  color: #111d17; }

a:hover {
  color: #e46aad; }

a:active {
  color: #6e1445; }

.menu {
  text-align: center; }

#span-menu {
  padding: 0.8rem;
  background: #c4247c; }

li {
  padding: 0 0.5rem;
  display: inline-block;
  font-size: 1rem;
  border-right: 1px solid black; }

.last-in-line {
  border: none; }

/******SMALL SCREENS***********
*******HAMBURGER******************/
@media only screen and (max-width: 950px) {
  .ham-menu {
    position: absolute;
    z-index: 200;
    top: 2rem;
    display: inline-block;
    cursor: pointer; }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #243d31;
    margin: 6px 0;
    transition: 0.4s; }
  /* Rotera */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); }
  /* Göm */
  .change .bar2 {
    opacity: 0; }
  /* Rotera */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }
  .menu {
    position: absolute;
    background: #c4247c;
    display: none;
    width: 96%;
    top: 2rem;
    margin: 0;
    padding: 3rem 3rem;
    z-index: 100;
    text-align: center; }
  li {
    display: block;
    border: none;
    padding: 0.5rem;
    font-size: 1.5rem; } }

#link-1,
#link-2,
#link-3,
#link-4,
#link-5 {
  display: none; }

@media only screen and (max-width: 950px) {
  body {
    width: 96%;
    margin: auto; }
  #skate-color {
    left: 5%;
    z-index: 3; }
  #skatepool {
    top: -100px;
    left: -5%;
    z-index: 2; }
  #color-texture {
    width: 40%;
    top: -130px;
    left: 10%;
    z-index: 1; } }
